<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <nav>
      <%- include ('../partials/nav.ejs') %>
    </nav>
    <div>
      <ul>
        <% for (let category of categories) { %>
          <li>
            <div class="dropdown">
              <button type="button" class="btn btn-primary btn-lg dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <%= category.name %>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="/category/<%=category._id%>">Favorite <%= category.name %></a></li>
                <li><form action="/category/<%=category._id%>?_method=DELETE" method="POST">
                  <input class="deleteB" type="submit" value="Delete <%= category.name %>"/>
                  </form>
                </li>
              </ul>
            </div>
          </li>
        <% } %>
      </ul>
    </div>
  </body>
</html>
