<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include ('../partials/head.ejs') %>
</head>
<body>
  <nav>
    <%- include ('../partials/navItems.ejs') %>
  </nav>
    <h1 class="container mx-auto" style="width: 600px;">Please Enter a New Item</h1>
    <div class="container mx-auto" style="width: 350px;">
      <% let newItemRank = (parseInt(groupItems.length) + 1)
          console.log(newItemRank);%>
      <form action="/item/<%=category%>" method="post">
        <input type="hidden" name="category" value="<%=category%>">
        <label for="name">Name:</label>
        <input type="text" name="name" required /><br>
        <label for="rank"></label>
        <input type="hidden" name="rank" value="<%=newItemRank%>"/><br>
        <label for="description">Description:</label>
        <textarea id="description" name="description" rows="4" cols="50">
        </textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
